{% extends 'warehouse/base.html' %}
{% load i18n %}
{% load admin_urls %}
    {% block title %}
        {% trans "Категории MPTT" %}
    {% endblock %}
    {% block head %}

    {% endblock %}


{% block content %}

{% load mptt_tags %}
<ul>
    {% recursetree categories %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% endblock content %}